# Markdown files
*.md

# Node modules
node_modules/
frontend/node_modules/

# Python virtual environments
.venv/
venv/
env/

# Build outputs
dist/
frontend/dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.parcel-cache/
frontend/.vite/
__pycache__

# DATA
DATA/**/*.csv
DATA/**/*.txt
DATA/**/*.h5
DATA/**/*.pkl
DATA/**/*.pt
.DS_Store
DATA/transformer/transformer_stats*.json

